<table>
    <tr>
        <td>
            <h3>Mobile Number : </h3>
        </td>
        <td>
            <h4>07588428925</h4>
        </td>
    </tr>

    <tr>
        <td>
            <h3>Email_Id : </h3>
        </td>
        <td>
            <h4>jayantavishnu@gmail.com</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Address : </h3>
        </td>
        <td>
            <h4>Kanakia Wallstreet, Chakala, Andheri east, Mumbai</h4>
        </td>
    </tr>
    <tr>
            <td>
                    <h3>Languages : </h3>
                </td>
                <td>
                    <h4>Marathi, Hindi, English</h4>
                </td>
    </tr>
    <tr>
            <td>
                    <h3>Date of Birth : </h3>
                </td>
                <td>
                    <h4>16 August 1991</h4>
                </td>
    </tr>
    <tr>
            <td>
                    <h3>Gender : </h3>
                </td>
                <td>
                    <h4>Male</h4>
                </td>
    </tr>
    <tr>
            <td>
                    <h3>Nationality : </h3>
                </td>
                <td>
                    <h4>Indian</h4>
                </td>
    </tr>
</table>