<h2>Software Programmer (September 2017 – Till date)</h2>
<h4>Hurix System Pvt Ltd, Mumbai.</h4>
<ul>
    <li>
        Analysis of new requirements, discuss with all positive/negative scenarios with team members, seniors, BA and make delivered with change in design or in functionality within estimated time.
    </li>
    <li>
        Individual Contributor as well as pairing with team members for solving complicated task.
    </li>
    <li>
        Involved with BA's and team for estimate and writing technical user stories.
    </li>
    <li>
        Participating in codethon, suggesting new features and showcase for continuous improvement of the product.
    </li>
    <li>
        Coding, unit testing of various modules.
    </li>
    <li>
        Also involved in proposing new ideas for the enhancement of the product.
    </li>
    <li>
        Involved in daily team discussion.
    </li>
</ul>

<h3>Professional Work Experience</h3>
<ul>
    <li>Project Name: Kitaboo Platform</li>
    <li>Duration: Nov-2018 to till date</li>
    <li>Position: Software Developer</li>
    <li>Environment: Java, Spring, MySQL, Rest, SVN</li>

    <li>Project Name: Kitaboo Reader</li>
    <li>Duration: Oct-2017 to Oct-2018</li>
    <li>Software Developer</li>
    <li>Environment: AngularJS, JavaScript, HTML, CSS, GIT</li>
</ul>