<!-- <button routerLink="/education" (click)="showEducation()">{{education}}</button> -->
<ul>
    <li>
        <h3>Post Graduation diploma (CDAC) (August-2017)</h3>
    </li>
    <li>
        <h3>Bachelor of Engineering from Swami Ramanand Tirth University, Nanded, Maharashtra with distinction (66.73%) (August-2015)</h3>
    </li>
    <li>
        <h3>HSC from Latur Board, Latur, Maharashtra with 63.67% (Feb-2009)</h3>
    </li>
    <li>
        <h3>SSC from Latur Board, Latur, Maharashtra with 74.46% (March-2007)</h3>
    </li>

</ul>
