<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<h2>Here are some links which help you to know more about Jayant: </h2>

<nav>
<a routerLink="/aboutme" routerLinkActive="active" class="buttonMargin">About Me</a>
<a routerLink="/skills" routerLinkActive="active" class="buttonMargin">Skills</a>
<a routerLink="/experience" routerLinkActive="active" class="buttonMargin">Experience</a>
<a routerLink="/education" routerLinkActive="active" class="buttonMargin">Education</a>
<a routerLink="/contact" routerLinkActive="active" class="buttonMargin">Contact & Personal Details </a>
</nav>

<router-outlet></router-outlet>
