<ul>
    <h2>Technical Skills</h2>
    <li>
        Languages: Java, JavaScript, C, C++
    </li>
    <li>
        Framework: Spring, AngularJs, Angular7(Beginner), SpringBoot(Beginner)
    </li>
    <li>
        Tools: GIT, JIRA, SVN, Bugzilla
    </li>
    <li>
        Database: MySQL
    </li>        
    <li>
        IDE: Eclipse, Sublime
    </li>
    <li>
        Web services: Rest
    </li>

    <h2>Personal Skills</h2>
    <li>
        During my professional tenure I work with professionals from different culture and background.
    </li>
    <li>
        Created friendly and pleasant atmosphere within the team I worked with.
    </li>        
    <li>
        Ability to express technical concepts clearly to people with no technical background.
    </li>
    <li>
        An enthusiastic team player and creative thinker.
    </li>
</ul>